<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <key>Label</key>
    <string>com.logzio.OTELCollector</string>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>/opt/logzio-otel-collector/otelcol-contrib_stderr.log</string>

    <key>StandardOutPath</key>
    <string>/opt/logzio-otel-collector/otelcol-contrib_stdout.log</string>

    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string><![CDATA[/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin]]></string>
    </dict>

    <key>WorkingDirectory</key>
    <string>/opt/logzio-otel-collector</string>

    <key>ProgramArguments</key>
    <array>
      <string>/opt/logzio-otel-collector/otelcol-contrib</string>
      <string>--config</string>
      <string>/opt/logzio-otel-collector/otel_config.yaml</string>
    </array>

  </dict>
</plist>