<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <key>Label</key>
    <string>com.logzio.OTELCollector</string>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>LOGZIO_OTEL_COLLECTOR_SERVICE_LOG_FILE</string>

    <key>ProgramArguments</key>
    <array>
      <string>OTEL_COLLECTOR_BIN</string>
      <string>--config</string>
      <string>OTEL_CONFIG</string>
    </array>

    <key>EnvironmentVariables</key>
    <dict>
      <key>SAMPLING_PROPABILITY</key>
      <string>SAMPLING_PROPABILITY_PLACEHOLDER</string>
      <key>SAMPLING_LATENCY</key>
      <string>SAMPLING_LATENCY_PLACEHOLDER</string>
      <key>IS_SPAN_METRICS</key>
      <string>IS_SPAN_METRICS_PLACEHOLDER</string>
    </dict>

  </dict>
</plist>