name: update testing release
on: [push]

jobs:
  filter_for_testing_configs:
    name: Filter for testing configs folder changes
    runs-on: ubuntu-latest
    outputs:
      testing: ${{ steps.filter.outputs.testing }}
    steps:
      - uses: actions/checkout@v3
      - name: Set filter
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            testing:
              - 'testing-configs/**'

  update_testing:
    name: Update testing release
    needs: filter_for_testing_configs
    if: ${{ needs.filter_for_testing_configs.outputs.testing == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v5
        with:
          python-version: '3.8'
      - name: Build manifest
        uses: jannekem/run-python-script-action@v1
        with:
          script: |
            import os, json
            configs = []
            entries = os.scandir('testing-configs')
            sorted_entries = sorted(entries, key=lambda x: x.name)
            for filename in sorted_entries:
              with open(filename, mode='r', encoding='utf-8') as file:
                configs.append(json.load(file))
            with open("manifest.json", mode='w', encoding='utf-8') as f:
              f.truncate(0)
              json.dump(configs, f)
      - name: Update testing release
        uses: meeDamian/github-release@2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: testing
          tag: testing
          allow_override: true
          prerelease: true
          files: manifest.json
          gzip: false